<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
           <div *ngIf="status then showNews else showLoadingScreen"></div>
           <ng-template #showNews>
            <div class="row g-3">
                <div *ngFor="let i of newsData.articles" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="{{i.urlToImage}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.author}}</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
           </ng-template>
           <ng-template #showLoadingScreen>
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
           </ng-template>
        </div>
    </div>
</div>